@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kalam:wght@300;400;700&family=LXGW+WenKai+Mono+TC&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Sora:wght@100..800&family=Stick&display=swap');

body {
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-style: normal;
}