@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kalam:wght@300;400;700&family=LXGW+WenKai+Mono+TC&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Sora:wght@100..800&family=Stick&display=swap');

/* Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    max-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Luckiest Guy', cursive;
    background-color: #fff;
}

/* Header */
nav {
    position: fixed;
    height: 60px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AB1221;
}

nav h1 {
    font-size: 1.5rem;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav li:hover {
    text-decoration: underline;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding-top: 60px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #AB1221;
    color: #fff;
    font-size: 1vw;
    padding: .5em .5em;
}

footer a {
    text-decoration: none;
    color: #fff;
}


/* Home */

#hero {
    background-image: url('../images/hero-bg-img-md.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #AB1221;
    text-align: center;
}

.hero-container {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5% 5%;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.hero-text {
    padding: 1em 1em;
    font-size: 3vw;
}

#hero a {
    text-decoration: none;
    color: #fff;
    background-color: #AB1221;
    border-radius: 10px;
    padding: 10px 20px;
}


/* Game page */
#game-mode-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5%;
    color: #AB1221;
    padding: 10px;
}

#gameMode {
    font-size: 1rem;
    margin-right: 10px;
    font-family: luckiest guy;
    border-radius: 3px;
    border: #AB1221 2px solid;
    color: #AB1221;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 75% 25%;
}

.equation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
    font-size: 10vw;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    margin: 10px 10px 0px 10px;
}

.equation p {
    display: inline;
    padding: 20px;
}

#num1 {
    color: #F9C80E;
}

#operator {
    color: #662E9B;
}

#num2 {
    color: #F86624;
}

#equals {
    color: #43BCCD;
}

#question-mark {
    color: #EA3546;
}

.answer-options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 10px;
}

.options {
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 10vw;
    color: #fff;
    transition: 0.5s;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
}

#option1 {
    background-color: #F9C80E;
    color: white;
}


#option2 {
    background-color: #F86624;
    color: white;
}


#option3 {
    background-color: #43BCCD;
    color: white;
}

/* Other classes */

.hidden {
    display: none;
}

.correct {
    background-color: #d4edda;
    /* Light green background */
    transition: background-color 0.3s ease;
}

.shake {
    animation: shake .5s 1 linear;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* Media query for hover effect on displays that support hover */
@media (hover: hover) {
    #option1:hover {
        background-color: white;
        color: #F9C80E;
    }


    #option2:hover {
        background-color: white;
        color: #F86624;
    }

    #option3:hover {
        background-color: white;
        color: #43BCCD;
    }
}

/* Exit dialog */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff;
    z-index: 1000;
    max-width: 90%;
}

/* Backdrop styling */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}


.dialog-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 20px;
}

.dialog-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#dialog-yes {
    background-color: #28a745;
    color: white;
}

#dialog-no {
    background-color: #dc3545;
    color: white;
}


/* Media queries for responsive design */

/* Mediuam screens (tablets) */
@media(max-width:768px) {

    /* Game Page */

    #game-mode-container {
        height: 10vh;
        flex-direction: row;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 90vh;
    }

    .equation {
        width: 94vw;
        height: 40%;
    }

    .equation p {
        display: inline;
        font-size: 4rem;

    }

    .answer-options {
        width: 94vw;
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 0;
    }

    .options {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        object-fit: contain;
    }

    footer {
        margin-top: 10px;
        position: static;
    }

    /* Footer */
    footer {
        margin-top: 0;
        position: fixed;
    }
}

/* Small screens (mobile phones) */
@media(max-width:480px) {
    body {
        overflow-y: hidden;
    }

    /* Game Page */
    #game-mode-container {
        height: 10%;
        flex-direction: row;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
    }

    .equation {
        width: 94vw;
        height: 30%;
    }

    .equation p {
        display: inline;
        position: relative;
        padding: 10px;
    }

    .answer-options {
        width: 94%;
        height: 40%;
        display: flex;
        flex-direction: inherit;
        justify-content: space-around;
    }

    .options {
        height: 12vh;
        margin-left: 0;
        width: 100%;
    }

    /* Footer */
    footer {
        font-size: .75rem;
        position: fixed;
        bottom: 0;
    }
}